@import 'mastodon-light/variables';
@import 'application';
@import 'mastodon-light/diff';

body, .landing-page, .public-layout {
  background-image: url("../images/nichijou/nichijou_grey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

