@import 'mastodon-light/variables';
@import 'application';
@import 'mastodon-light/diff';

body, .landing-page, .public-layout {
  background-image: url("../images/nichijou/nichijou_grey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.landing__grid {
  opacity: 0.93;
}

.getting-started {
  opacity: 0.8;
}

.drawer__inner, .drawer__inner__mastodon {
  opacity: 0.93;
}

.layout-single-column .navigation-panel {
  //background-color: $ui-highlight-color;
  opacity: 0.93;
}